html {
  background: white;
  overflow-x: hidden;
}

.background {
  width: 120vw;
  height: 120vh;
  background-blend-mode: overlay;
  background-color: white;
  background: linear-gradient(45deg, #0C303F, #400F41, #0C303F, #400F41);
  background-size: 500% 500%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 960px) {


  .background {
    max-width: 100vw;
    max-height: 100vh;
    background-color: white;
    background: linear-gradient(45deg, #0C303F, #400F41, #0C303F, #400F41);
    background-size: 500% 500%;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
  }
}
