@media screen and (min-width: 960px) {
  .landingRight {
    position: relative;
    grid-column: 2 /3;
    height: 100%;
    width: 100%;
    margin-top: 13%;
    overflow-x: visible;
  }
  /* .angledTop {
    align-self: center;
    position: absolute;
    height: 60vw;
    max-height: 900px;
    transform: translate(-10%, 5%) rotate(0deg);
    z-index: 3;
    animation: topMove 20000ms ease-in-out infinite;
  } */

  /* .angledMiddle {
    align-self: center;
    position: absolute;
    height: 60vw;
    max-height: 900px;
    transform: translate(-10%, 5%) rotate(0deg);
    mix-blend-mode: overlay;
    background-blend-mode: overlay;
    opacity: 1;
    z-index: 2;
    animation: middleMove 20000ms ease-in-out infinite;
  }

  .angledBottom {
    align-self: center;
    position: absolute;
    height: 60vw;
    max-height: 900px;
    transform: translate(-10%, 5%) rotate(0deg);
    z-index: 1;
    animation: bottomMove 20000ms ease-in-out infinite;
  } */

  /* @keyframes topMove {
    0% {
      transform: translate(-10%, 5%) rotate(0deg);
    }
    50% {
        transform: translate(-15%, 0%) rotate(-3deg);
    }
    100% {
        transform: translate(-10%, 5%) rotate(0deg);
    }
  }

  @keyframes middleMove {
    0% {
      transform: translate(-10%, 5%) rotate(0deg);
    }
    50% {
        transform: translate(-13.2%, 3.2%) rotate(-2deg);
    }
    100% {
        transform: translate(-10%, 5%) rotate(0deg);
    }
  }

  @keyframes bottomMove {
    0% {
      transform: translate(-10%, 5%) rotate(0deg);
    }
    50% {
        transform: translate(-11.6%, 1.6%) rotate(-1deg);
    }
    100% {
        transform: translate(-10%, 5%) rotate(0deg);
    }
  } */
}

/* Gradient 20s ease infinite; */
