@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
  --offwhite-text: #EBF5F7;
  --pink-color: #FF00E3;
  --blue-color: #00B4D6;
  --header-text: "Poppins", sans-serif;
  --body-text: :"Source Sans pro";
  --code-text: "Roboto Mono";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(45deg, #0C303F, #400F41);
  width: 90vw;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  height: 100vh;
}

/* Landing Cover */

h1 {
  font-family: var(--header-text);
  color: var(--offwhite-text);
  font-size: 5vw;
  font-weight: 700;
  margin-left: 8%;
  letter-spacing: -4px;
  line-height: 1.10em;
}

.paul {
  text-shadow: 2px 6px 4px rgba(0,0,0,0.3),
  0px -5px 35px rgba(255,255,255,0.3),
  2px 1px 8px rgba(255,0,227,0.6),
  -2px -1px 8px rgba(0,180,214,0.7),
  -1px 0 black, 0 1px black, 
  1px 0 black, 0 -1px black;
  line-height: 1.10em;
  font-size: 5.5vw;
}

.wave {
  font-size: .7em;
  line-height: 1.10em;
}

.outerTag {
  margin: 2%;
}

.bodyTag {
  margin: 3.5%;
}

.innerTag {
  margin: 5%;
}

.contactButton {
  border: 2px solid var(--blue-color) ;
  font-family: "Source Sans Pro";
  background: none;
  color: white;
  font-size: 16px;
  padding: 17px 35px;
  letter-spacing: 2px;
  margin-left: 8%;
  cursor: pointer;
}

@media screen and (min-width: 1920px) {
  h1 {
     font-size: 105px;
  }
}

.code {
  color: white;
  opacity: 30%;
  font-family: var(--code-text);
  font-size: 8pt;
}

/* Logo Cover */

.landingRight {
  width: 40%;
  position: relative;
}

.logoTop {
  position: absolute;
  z-index: 7;
  max-height: 90vh;
  transform: translate(-10%, -5%) rotate(-14.53deg);
}

.blurGradient {
  z-index: 6;
  position: absolute;
  filter: blur(15px);
  mix-blend-mode: hard-light;
  opacity: 95%;
  max-height: 90vh;
  transform: translate(-10%, -5%) rotate(-14.53deg);
}

.outlineMiddle {
  position: absolute;
  z-index: 5;
  max-height: 90vh;
  transform: translate(-5%, -1%) rotate(-21deg);
}

.logoMiddle {
  z-index: 4;
  position: absolute;
  mix-blend-mode: overlay;
  max-height: 90vh;
  transform: translate(-5%, -1%) rotate(-21deg);
}

.logoBottom {
  z-index: 2;
  position: absolute;
  max-height: 90vh;
  transform: translate(-0%, 2%) rotate(-25.66deg);
}

.outlineBottom {
  position: absolute;
  z-index: 3;
  max-height: 90vh;
  transform: translate(-0%, 2%) rotate(-25.66deg);
}

.blurGradient2 {
  z-index: 1;
  position: absolute;
  filter: blur(15px);
  mix-blend-mode: hard-light;
  opacity: 95%;
  max-height: 90vh;
  transform: translate(-0%, 2%) rotate(-25.66deg);
}

/* Grid Test */

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20vh, 1fr, 1fr;
  height: 100vh;
}

.section_1 {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
}

.headerTextGrid {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: flex-start;
}

.buttonArea {
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: flex-end;
}

.LogoArea {
  grid-column: 2/3;
  grid-row: 1/4;
}

/* Footer */

footer {
  height: 250px;
}

.footer {
  display: flex;
  color: #EBF5F7;
}

a {
  display:inline-flex;
  color: var(--offwhite-text);
  font-family: var(--header-text);
  align-self: center;
  text-decoration: none;
}

footer p {
  font-family: var(--code-text);
  font-size: 9pt;
  margin-top: 8px;
  color: white;
  align-self: center;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
}
