@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
  --offwhite-text: #EBF5F7;
  --pink-color: #FF00E3;
  --blue-color: #00B4D6;
  --header-text: "Poppins", sans-serif;
  --body-text: :"Source Sans Pro", sans-serif;
  --code-text: "Roboto Mono";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(45deg, #0C303F, #400F41);
  background-size: cover;
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.code {
  display: none;
}

h1 {
  font-family: var(--header-text);
  color: var(--offwhite-text);
  font-size: 270%;
  font-weight: 700;
  margin-left: 0%;
  line-height: 1.10em;
  text-align: center;
}

.paul {
  line-height: 1.10em;
  font-weight: 700;
}

.wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1;
  grid-template-rows: 1fr 1fr 1fr;
}

.headerTextGrid {
  grid-row: 3/4;
}

.logoArea {
  grid-column: 1/2;
  grid-row: 1/2;
}

.landingRight {
  width: 40%;
  position: relative;
}

.logoTop {
    position: absolute;
    z-index: 7;
    max-height: 100vw;
    transform: translate(-22%, -5%) rotate(-14.53deg);
}

.blurGradient {
  z-index: 6;
  position: absolute;
  filter: blur(15px);
  mix-blend-mode: hard-light;
  opacity: 95%;
  max-height: 100vw;
  transform: translate(-22%, -5%) rotate(-14.53deg);
}

.outlineMiddle {
  position: absolute;
  z-index: 5;
  max-height: 100vw;
  transform: translate(-15%, -1%) rotate(-21deg);
}

.logoMiddle {
  z-index: 4;
  position: absolute;
  mix-blend-mode: overlay;
  max-height: 100vw;
  transform: translate(-15%, -1%) rotate(-21deg);
}

.logoBottom {
  z-index: 2;
  position: absolute;
  max-height: 100vw;
  transform: translate(-5%, 2%) rotate(-25.66deg);
}

.outlineBottom {
  position: absolute;
  z-index: 3;
  max-height: 100vw;
  transform: translate(-5%, 2%) rotate(-25.66deg);
}

.blurGradient2 {
  z-index: 1;
  position: absolute;
  filter: blur(15px);
  mix-blend-mode: hard-light;
  opacity: 95%;
  max-height: 100vw;
  transform: translate(-0%, 2%) rotate(-25.66deg);
}

.buttonArea {
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: flex-end;
}