@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --offwhite-text: #EBF5F7;
  --pink-color: #FF00E3;
  --blue-color: #00B4D6;
  --header-text: "Poppins", sans-serif;
  --body-text: :"Source Sans Pro", sans-serif;
  --code-text: "Roboto Mono";
  --fancy-text: 'Sansita Swashed', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.code {
  display: none;
}

h1 {
  font-family: var(--header-text);
  color: var(--offwhite-text);
  font-size: 190%;
  font-weight: 700;
  font-style: italic;
  margin-left: 8%;
  line-height: 1.10em;
  text-align: left;
}

h2 {
  font-family: var(--header-text);
  color: var(--offwhite-text);
  font-size: 3.5vw;
  font-weight: 700;
  letter-spacing: 0px;
  font-style: italic;
}

.display {
  display: none;
}

.paulText {
  max-width: 80%;
  align-self: center;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 1.10em;
}

.wrapper {
  display: grid;
  min-height: 95vh;
  max-width: 100vw;
  overflow: hidden;
  grid-template-rows: 1fr 1fr 1fr;
}

.percent {
  margin-left: 8%;
}

.headerTextGrid {
  grid-row: 3/4;
}

.LogoArea {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}

.landingRight {
  display: flex;
  width: 100vw;
  z-index: 8;
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}

.headerTextGrid {
  grid-column: 1/2;
  grid-row: 3/4;
}

.angledTop {
    align-self: center;
    position: absolute;
    z-index: 7;
    height: 130vw;
    max-height: 700px;
    transform: translate(0%, 0%);
    z-index: 3;
}

.angledMiddle {
  align-self: center;
  position: absolute;
  z-index: 7;
  height: 130vw;
  max-height: 700px;
  transform: translate(0%, 0%);
  mix-blend-mode: overlay;
  opacity: 1;
  z-index: 2;
}

.angledBottom {
  align-self: center;
  position: absolute;
  z-index: 7;
  height: 130vw;
  max-height: 700px;
  transform: translate(0%, 0%);
  z-index: 1;
}

.buttonArea {
  grid-column: 1/2;
  grid-row: 3/4;
  margin-left: 8%;
  margin-bottom: 5%;
  justify-self: left;
  align-self: flex-end;

}

.contactButton {
  height: 46px;
  padding: 12px 45px;
  margin: 8px 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Source Sans Pro";
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 1.05px;
  color: white;
  background: #196DB6;
  border-radius: 3px;
}

.spacer {
  opacity: 0;
  height: 40px;
}

/* About Section */

.aboutWrapper {
  display: flex;
  flex-direction: column;
}

h2 {
  color: var(--offwhite-text);
  font-family: var(--header-text);
  color: var(--offwhite-text);
  font-size: 170%;
  font-weight: bold;
}

.paulImage {
  height: auto;
  width: 80%;
  justify-self: center;
  margin: 0 auto;
}

.aboutText {
  align-self: center;
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-size: 12pt;
  line-height: 1.6em;
  max-width: 80%;
  color: var(--offwhite-text);
}

/* line */

.hr {
  display: none;
  width: 16%;
  height: 1px;
  margin-left: 8%;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-direction: row;
  border: none;
  border-radius: 50%;
  background: linear-gradient(45deg, rgba(0,180,214,0.6) 0%, rgba(255,0,227,0.6) 100%);
}


/* Footer */

footer {
  display: flex;
  height: 200px;
  justify-content: center;
  flex-direction: column;
}

.footwrap {
  color: #EBF5F7;
  display: flex;
  flex-direction: row;
}

.footwrap p {
  margin-right: 5px;
  color: var(--offwhite-text);
  font-family: var(--header-text);
  font-size: 9pt;
  line-height: 9px;
}

.footwrap a {
  color: var(--offwhite-text);
  font-family: var(--header-text);
  text-decoration: none;
  font-size: 10pt;
  margin-bottom: 8px;
}

a:hover {
  color: var(--blue-color);
}

footer p {
  font-family: "Source Sans Pro";
  font-size: 8pt;
  margin-top: 8px;
  color: white;
  font-weight: 500;
  margin-right: 5px;
  margin-bottom: 5px;
}

.references {
  font-family: var(--code-text);
}

.references a {
  text-decoration: underline;
  color: white;
  line-height: 1.1rem;
  cursor: pointer;
}

/* Project Titles */

.projectWrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 80%;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.projectTitle {
  font-size: 55%;
  font-weight: 700;
  color: var(--offwhite-text);
  background-color: rgba(26, 26, 26, 0.5);
  padding: 11px 24px;
  margin-left: -8%;
}

.categoryText {
  font-family: "Source Sans Pro";
  letter-spacing: 1.1pt;
  color: var(--offwhite-text);
  font-size: 9pt;
  margin-top: 6px;
  margin-left: 18px;
}

.date {
  font-family: var(--code-text);
  font-size: 8pt;
  color: grey;
  line-height: 1.7;
  margin-bottom: 16px;
}

/* Form */

.formBox {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

input {
  height: 46px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgb(125, 124, 124);
  font-family: "Source Sans Pro";
  font-size: 12pt;
  background-color: rgba(0 , 180, 214, 0.25);
  border-radius: 3px;
}

textarea {
  height: 138px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgb(125, 124, 124);
  font-family: "Source Sans Pro";
  font-size: 12pt;
  background-color: rgba(0 , 180, 214, 0.25);
  border-radius: 3px;
}

.formButton {
  align-self: flex-end;
  height: 46px;
  padding: 12px 45px;
  margin: 8px 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Source Sans Pro";
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 1.05px;
  color: white;
  background: #196DB6;
  border-radius: 3px;
}

.subText {
  font-family: var(--code-text);
  font-size: 6pt;
  color: white;
  align-self: flex-end;
}

/* Template */

#blogPost {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.coverImage {
  width: 100vw;
}

.templateText {
  max-width: 80%;
  margin: 0 auto;
  color: var(--offwhite-text);
  font-family: "Source Sans Pro";
  line-height: 1.6;
}

.templateImage {
  max-width: 80%;
  margin: 0 auto;
}

.templateHeader {
  margin-left: 8%;
}

.return {
  height: 46px;
  width: 130px;
  text-align: center;
  padding: 12px 40px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Source Sans Pro";
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 1.05px;
  color: white;
  background: #196DB6;
  border-radius: 3px;
}